@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

.App {
  text-align: center;
  font-family: 'DM Serif Display', serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
}


nav > .active {
  background: #89a6f5;
  border: lightblue solid 2px;
  color: white;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

input {
  padding: 30px 60px;
  font-size: 2em;
  margin-bottom: 30px;
  border-radius: 5px;
  border: solid dodgerblue 3px;
  
}

button {
  margin-bottom: 20px;
  background-color: dodgerblue;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 2em;
  font-weight: bold;
  color: white;
  transition: 1s;
}

button:hover {
  background-color: lightblue;
  transition: 1s;
}

.Smurfs {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: dodgerblue;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 45px;
}

.Smurf {
  background-color: #f7ffff;
  border: solid dodgerblue 2px;
  width: 200px;
  margin-bottom: 30px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: darkblue;
}

h3 {
  font-size: 1.5em;
  padding: 5px;
  transition: 1s;
}

h3:hover {
  font-size: 1.6em;
  color: purple;
  transition: 1s;
}

nav a {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: lightblue;
  border: solid 1px dodgerblue;
  color: white;
}