.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
}


nav > .active {
  background: black;
  border: lightblue solid 2px;
  color: white;
  text-decoration: none;
}